{% extends 'main/layout.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <main class="fon">
         <aside class="novigation">
             <h3 class="catalog_button">Каталог</h3>
             <ul>
                 <li class="catalog-items">Внешний аккумулятор</li>
                 <li class="catalog-items">Зарядки</li>
                 <li class="catalog-items">Bluetooth колонки</li>
                 <li class="catalog-items">Наушники</li>
                 <li class="catalog-items">Электронный стабилизатор</li>
                 <li class="catalog-items">Web-камера</li>
                 <li class="catalog-items">Клавиатуры</li>
             </ul>
         </aside>
         <section class="container_catalog ">
                <div class="products__items">

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product1.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                      <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product2.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                      <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product3.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product4.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product5.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>

                    <div class="products__item">
                        <img class="products__item_image" src="../../static/main/images/best-product6.jpg" alt="">
                        <h4 class="products__item_title">Название продукта</h4>
                        <p class="products__item_price">102 000сом</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}
